/* font-family: 'Lexend Deca', sans-serif; */
/* font-family: 'Big Shoulders Display', sans-serif; */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(0, 0%, 95%);
}

.center-card{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    height: 500px;
    width: 900px;
    margin: 0 10% 0;
}

h2{
    font-family: 'Big Shoulders Display', sans-serif;
    color: hsl(0, 0%, 95%);
    font-size: 40px;
}

p{
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    line-height: 23px;
}


.orange{
    background: hsl(31, 77%, 52%);
    border-radius: 10px 0 0 10px;
}

.cyan{
    background: hsl(184, 100%, 22%);
}

.darkcyan{
    background: hsl(179, 100%, 13%);
    border-radius: 0 10px 10px 0;
}

.card{
    display: grid;
    padding: 40px 36px 0;
    grid-template-rows: repeat(15, 30px);
}

.header{
    grid-row: 4;
}

.content{
    grid-row: 7;
}

.button{
    grid-row: 13;
}

button{
    border-radius: 30px;
    width: 150px;
    padding: 15px;
    border: none;
    background: hsl(0, 0%, 95%);
    font-family: 'Lexend Deca', sans-serif;
    cursor: pointer;
}

button:hover{
    background-color: transparent;
    color: hsla(0, 0%, 100%, 0.75);
    border: solid white;
}

.btn-orange{
    color: hsl(31, 77%, 52%);
}

.btn-cyan{
    color: hsl(184, 100%, 22%);
}

.btn-darkcyan{
    color: hsl(179, 100%, 13%);
}