/* font-family: 'Lexend Deca', sans-serif; */
/* font-family: 'Big Shoulders Display', sans-serif; */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(0, 0%, 95%);
}

.center-card{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    height: 500px;
    width: 900px;
    margin: 0 10% 0;
}

h2{
    font-family: 'Big Shoulders Display', sans-serif;
    color: hsl(0, 0%, 95%);
}

p{
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
}


.orange{
    background: hsl(31, 77%, 52%);
}

.cyan{
    background: hsl(184, 100%, 22%);
}

.darkcyan{
    background: hsl(179, 100%, 13%);
}

.card{
    display: grid;
    padding: 40px 25px 0;
    grid-template-rows: repeat(15, 30px);
}

.header{
    grid-row: 4;
}

.content{
    grid-row: 6;
}

.button{
    grid-row: 14;
}

button{
    border-radius: 30px;
    width: 150px;
    padding: 15px;
    border: none;
    background: hsl(0, 0%, 95%);
}
